<!DOCTYPE html>
	<html>
	  <head>
	    <title>Ezy-Park</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> <!-- iso-8859-1 -->
		<script src="JSlibrary.js" type="text/javascript"></script>
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
	  </head>
	  <body>
	    <!-- debut de la page -->
		
	    <h1>Welcome to Ezy-Park !!! </h1>
		<p class="banner"><img src= "{{url_for('static', filename='EziParkCB_hero.jpg')}}" alt='Ezy-PArk banner'></p>
		<p class="introduction">Thank you for experiencing this new <strong>digital way</strong> to park your car.<br/></p>
		<p><img src= "{{url_for('static', filename='EziParkCB_logo2.png')}}" class="floating_image" alt='Ezy-Park Logo'>
			<ol> 
			<!-- liste ordonnee (ul pour non ordonnee-->
				<li>			Please make sure you have your credit card ready</li>
				<li>			Press Button 'Pay with Card'</li>
				<li>			If any time left, please visit our partner <a href="http://www.orange.com">Orange </a></li>
			</ol>
		</p>
		
		<form id="stripeButton" action="{{ url_for('charge') }}" method="POST">
		  <script
		    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		    data-key="{{ pub_key }}"
		    data-amount="{{ amount }}"
		    data-name="Ezy-Park"
		    data-description="Parking becomes so simple"
		    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
		    data-locale="auto"
		    data-currency="eur">
		  </script>
		</form>
	        <script>
		 document.getElementById("stripeButton").submit();
	        </script>
	  </body>
	  <footer>
		</br>Fake Ezy-Park payment page for demonstration purpose only
	  </footer>
	</html>

	
	
